<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
    <actions/>
    <description>prototype job</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.SubversionSCM">
        <locations>
            <hudson.scm.SubversionSCM_-ModuleLocation>
                <remote>http://localhost/svn/prod/ls/trunk/${jobName}/</remote>
                <local>.</local>
            </hudson.scm.SubversionSCM_-ModuleLocation>
        </locations>
        <excludedRegions></excludedRegions>
        <includedRegions></includedRegions>
        <excludedUsers></excludedUsers>
        <excludedRevprop></excludedRevprop>
        <excludedCommitMessages></excludedCommitMessages>
        <workspaceUpdater class="hudson.scm.subversion.CheckoutUpdater"/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector">
        <hudson.triggers.SCMTrigger>
            <spec>0 * * * *</spec>
        </hudson.triggers.SCMTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <goals>clean</goals>
    <alternateSettings>../../../.m2/settings.xml</alternateSettings>
    <mavenOpts>-Xmx512m</mavenOpts>
    <aggregatorStyleBuild>true</aggregatorStyleBuild>
    <incrementalBuild>false</incrementalBuild>
    <usePrivateRepository>false</usePrivateRepository>
    <ignoreUpstremChanges>true</ignoreUpstremChanges>
    <archivingDisabled>false</archivingDisabled>
    <resolveDependencies>false</resolveDependencies>
    <processPlugins>false</processPlugins>
    <mavenValidationLevel>-1</mavenValidationLevel>
    <runHeadless>false</runHeadless>
    <settingConfigId></settingConfigId>
    <globalSettingConfigId></globalSettingConfigId>
    <reporters>
        <hudson.plugins.checkstyle.CheckStyleReporter>
            <healthy></healthy>
            <unHealthy></unHealthy>
            <pluginName>[CHECKSTYLE]</pluginName>
            <thresholdLimit>low</thresholdLimit>
            <canRunOnFailed>false</canRunOnFailed>
            <useDeltaValues>false</useDeltaValues>
            <thresholds>
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll></failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
            </thresholds>
        </hudson.plugins.checkstyle.CheckStyleReporter>
        <hudson.plugins.findbugs.FindBugsReporter>
            <healthy></healthy>
            <unHealthy></unHealthy>
            <pluginName>[FINDBUGS]</pluginName>
            <thresholdLimit>low</thresholdLimit>
            <canRunOnFailed>false</canRunOnFailed>
            <useDeltaValues>false</useDeltaValues>
            <thresholds>
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll></failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
            </thresholds>
            <isRankActivated>false</isRankActivated>
        </hudson.plugins.findbugs.FindBugsReporter>
        <hudson.plugins.pmd.PmdReporter>
            <healthy></healthy>
            <unHealthy></unHealthy>
            <pluginName>[PMD]</pluginName>
            <thresholdLimit>low</thresholdLimit>
            <canRunOnFailed>false</canRunOnFailed>
            <useDeltaValues>false</useDeltaValues>
            <thresholds>
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll></failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
            </thresholds>
        </hudson.plugins.pmd.PmdReporter>
        <hudson.plugins.tasks.TasksReporter>
            <healthy></healthy>
            <unHealthy></unHealthy>
            <pluginName>[TASKS]</pluginName>
            <thresholdLimit>low</thresholdLimit>
            <canRunOnFailed>false</canRunOnFailed>
            <useDeltaValues>false</useDeltaValues>
            <thresholds>
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll></failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
            </thresholds>
            <pattern></pattern>
            <excludePattern></excludePattern>
            <high></high>
            <normal></normal>
            <low></low>
            <ignoreCase>false</ignoreCase>
        </hudson.plugins.tasks.TasksReporter>
        <hudson.plugins.dry.DryReporter>
            <healthy></healthy>
            <unHealthy></unHealthy>
            <pluginName>[DRY]</pluginName>
            <thresholdLimit>low</thresholdLimit>
            <canRunOnFailed>false</canRunOnFailed>
            <useDeltaValues>false</useDeltaValues>
            <thresholds>
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll></failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
            </thresholds>
            <highThreshold>50</highThreshold>
            <normalThreshold>25</normalThreshold>
        </hudson.plugins.dry.DryReporter>
        <hudson.maven.reporters.MavenMailer>
            <recipients>kazuhito.sumpic@gmail.com</recipients>
            <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
            <sendToIndividuals>true</sendToIndividuals>
        </hudson.maven.reporters.MavenMailer>
    </reporters>
    <publishers>
        <hudson.plugins.analysis.collector.AnalysisPublisher>
            <healthy></healthy>
            <unHealthy></unHealthy>
            <thresholdLimit>low</thresholdLimit>
            <pluginName>[ANALYSIS-COLLECTOR]</pluginName>
            <defaultEncoding></defaultEncoding>
            <canRunOnFailed>false</canRunOnFailed>
            <useDeltaValues>false</useDeltaValues>
            <thresholds>
                <unstableTotalAll></unstableTotalAll>
                <unstableTotalHigh></unstableTotalHigh>
                <unstableTotalNormal></unstableTotalNormal>
                <unstableTotalLow></unstableTotalLow>
                <unstableNewAll></unstableNewAll>
                <unstableNewHigh></unstableNewHigh>
                <unstableNewNormal></unstableNewNormal>
                <unstableNewLow></unstableNewLow>
                <failedTotalAll></failedTotalAll>
                <failedTotalHigh></failedTotalHigh>
                <failedTotalNormal></failedTotalNormal>
                <failedTotalLow></failedTotalLow>
                <failedNewAll></failedNewAll>
                <failedNewHigh></failedNewHigh>
                <failedNewNormal></failedNewNormal>
                <failedNewLow></failedNewLow>
            </thresholds>
            <shouldDetectModules>false</shouldDetectModules>
            <isCheckStyleDeactivated>false</isCheckStyleDeactivated>
            <isDryDeactivated>false</isDryDeactivated>
            <isFindBugsDeactivated>false</isFindBugsDeactivated>
            <isPmdDeactivated>false</isPmdDeactivated>
            <isOpenTasksDeactivated>false</isOpenTasksDeactivated>
            <isWarningsDeactivated>false</isWarningsDeactivated>
        </hudson.plugins.analysis.collector.AnalysisPublisher>
        <hudson.plugins.cobertura.CoberturaPublisher>
            <coberturaReportFile>**/target/site/cobertura/coverage.xml</coberturaReportFile>
            <onlyStable>false</onlyStable>
            <healthyTarget>
                <targets class="enum-map"
                         enum-type="hudson.plugins.cobertura.targets.CoverageMetric">
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>CONDITIONAL
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>100</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>LINE
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>99</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>METHOD
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>100</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>PACKAGES
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>100</int>
                    </entry>
                </targets>
            </healthyTarget>
            <unhealthyTarget>
                <targets class="enum-map"
                         enum-type="hudson.plugins.cobertura.targets.CoverageMetric">
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>CONDITIONAL
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>0</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>LINE
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>0</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>METHOD
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>0</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>PACKAGES
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>0</int>
                    </entry>
                </targets>
            </unhealthyTarget>
            <failingTarget>
                <targets class="enum-map"
                         enum-type="hudson.plugins.cobertura.targets.CoverageMetric">
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>CONDITIONAL
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>1</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>LINE
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>1</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>METHOD
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>1</int>
                    </entry>
                    <entry>
                        <hudson.plugins.cobertura.targets.CoverageMetric>PACKAGES
                        </hudson.plugins.cobertura.targets.CoverageMetric>
                        <int>1</int>
                    </entry>
                </targets>
            </failingTarget>
            <sourceEncoding>UTF_8</sourceEncoding>
        </hudson.plugins.cobertura.CoberturaPublisher>
        <org.jenkinsci.plugins.emotional__jenkins.EmotionalJenkinsPublisher/>
    </publishers>
    <buildWrappers/>
    <prebuilders/>
    <postbuilders/>
    <runPostStepsIfResult>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
    </runPostStepsIfResult>
</maven2-moduleset>
